<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Demo Suite" verbose="1" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="engine.CustomListener" />
    </listeners>
    <test name="Chrome Test">
        <parameter name="target-browser" value="chrome"/>
        <classes>
            <class name="tests.testng.BasicGoogleTests">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExists"/>
                </methods>
            </class>
            <class name="tests.testng.SoftAssertionsTests"/>
        </classes>
    </test>
    <test name="Firefox Test">
        <parameter name="target-browser" value="firefox"/>
        <classes>
            <class name="tests.testng.BasicGoogleTests">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExists"/>
                </methods>
            </class>
            <class name="tests.testng.SoftAssertionsTests"/>
        </classes>
    </test>
    <test name="Edge Test">
        <parameter name="target-browser" value="edge"/>
        <classes>
            <class name="tests.testng.BasicGoogleTests">
                <parameter name="search-query" value="Clarusway"/>
                <methods>
                    <exclude name="assertGoogleLogoExists"/>
                </methods>
            </class>
            <class name="tests.testng.SoftAssertionsTests"/>
        </classes>
    </test>
<!--    <test name="Safari Test">-->
<!--        <parameter name="target-browser" value="safari"/>-->
<!--        <classes>-->
<!--            <class name="tests.testng.BasicGoogleTests">-->
<!--                <parameter name="search-query" value="Clarusway"/>-->
<!--                <methods>-->
<!--                    <exclude name="assertGoogleLogoExists"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="tests.testng.SoftAssertionsTests"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>